<div class="homeContainer">
  <h1>
    {{title}}
  </h1>
  <img src="../../../assets/images/admission.jpg" class="homeImage" alt="imagen representando una entrada vintage de un cine">
  <h4 class="gameDescription">
    {{gameDescription1}}
  </h4>
  <h4 class="gameDescription">
    {{gameDescription2}}
  </h4>
  <div class="homeButtonDiv">
    <button class="homeButton" (click)="goPadawanGame()">
      {{easyButtonTitle}}
    </button>
    <button class="homeButton" (click)='goJediGame()'>
      {{hardButtonTitle}}
    </button>
  </div>
  
</div>