@import "../../../styles/variables";
@import "../../../styles/backgrounds";
:host{
    height: 90%;
    width: 90%;
}

.exitButton{
        background-color: transparent;
        border: 1px solid #c8c1c8;
        border-radius:20%;
        color: $color-primary-header;
        font-weight: bold;
        font-size: 1.2em;
        width:4em;
        min-height:2em;
        margin-bottom:5%;
}
    
.exitButton:hover{
        color:$color-hover;
}

.yodaImage{
    width:70%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    margin-left:15%;
    width: 60%;
    margin-left: 20%;
}

.resultText{
    color:$color-hover;
    animation-name: moveStarWars;
    animation-duration:2s;
    text-align:center;
}

@keyframes moveStarWars{
    0%{
        opacity:0;
        transform: translateX(100px);
        font-size:2em;
        text-align:center;
    }
    100%{
        opacity:1;
        transform: translate(0);
        font-size:1em;
        text-align:center;
    }
}

