<div class="gameContainer">
  <div class="gameHeaderContainer">
    <button class="exitButton">
      {{exitButtonTitle}}
    </button>
    <span class="pointsNumber">{{pointsNumber}} puntos</span>
  </div>
  <div class="gameCuesContainer">
    <ul class="gameCuesList">
      <li *ngFor="let cue of cueList; let i = index">
        {{i + 1}} - {{cue}}
      </li>
    </ul>
  </div>
  <div class="gameOptionsContainer">
    <input class="filmInput" placeholder="{{answerPlaceHolder}}" [value]="filmAnswer" (change)="filmAnswer = $event.target.value">
    <button class="sendAnswerButton gameButton" (click)="checkAnswer()">
      {{sendButtonTitle}}
    </button>
  </div>
  <div class="gameOptionsContainer">
    <button class="nextCueButton gameButton" (click)="cueShowing()" [disabled]="actualCueNumber > 3">
      {{nextCueButtonTitle}}
    </button>
    <button class="nextFilmButton gameButton"  (click)="nextFilm()" [disabled]="actualCueNumber < 4">
      {{nextFilmButtonTitle}}
    </button>
  </div>
</div>